[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/IdroidzDevelopers
[access "refs/for/refs/*"]
	read = group user/IdroidzDevelopers
	push = group user/IdroidzDevelopers
	label-Code-Review = -2..+2 group user/IdroidzDevelopers
	label-Verified = -1..+1 group user/IdroidzDevelopers
	rebase = group user/IdroidzDevelopers
	removeReviewer = group user/IdroidzDevelopers
	submit = group user/IdroidzDevelopers
[access "refs/heads/*"]
	read = group user/IdroidzDevelopers
	create = group user/IdroidzDevelopers
	push = +force group user/IdroidzDevelopers
	pushMerge = group user/IdroidzDevelopers
[access "refs/tags/*"]
	push = group user/IdroidzDevelopers
	push = +force group user/IdroidzDevelopers
